# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/

# Logs
*.log

# Docker
.docker/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
